# Data Preparation

In [57]:
import pandas as pd

In [58]:
url = "https://raw.githubusercontent.com/mzhafranaf/Final-Project-Orbit/main/darjeeling.csv"
dataset = pd.read_csv(url)

In [59]:
dataset.head()

,month,season,Location,sex,Subject Code,TSV,TP,air_ts,air_tp,RH_ts,...,PMV,PPD,TnG_R_0.5,Tmr,Top,Tout,Trm,TnG_R_0.25,TnG_R_0.33,Unnamed: 32
0,1.0,1.0,S0135,1.0,FSL1,-1.0,-1,0,0,-1.0,...,0.768705,16.575062,26.948807,25.797614,24.948807,18.5,19.238792,28.948807,27.979110,0.0
1,1.0,1.0,S0135,1.0,FSL2,-1.0,-1,-1,0,1.0,...,0.236143,6.148326,26.860770,25.521541,24.860770,18.5,19.238792,28.860770,27.891073,0.0
2,1.0,1.0,S0135,1.0,FSL3,-1.0,-1,-1,0,1.0,...,0.246064,6.246280,26.948807,25.797614,24.948807,18.5,19.238792,28.948807,27.979110,0.0
3,1.0,1.0,S0135,1.0,FSL4,-1.0,-1,-1,0,1.0,...,0.299259,6.838386,26.843366,25.786732,24.843366,18.5,19.238792,28.843366,27.873669,0.0
4,1.0,1.0,S0135,1.0,FSL5,0.0,0,0,0,0.0,...,-0.444504,9.015203,24.755364,25.510728,24.755364,18.5,19.238792,24.755364,24.755364,0.0

In [60]:
dataset.shape

(3008, 33)

In [61]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3008 entries, 0 to 3007
Data columns (total 33 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   month         2608 non-null   float64
 1   season        2608 non-null   float64
 2   Location      2608 non-null   object
 3   sex           2608 non-null   float64
 4   Subject Code  2608 non-null   object
 5   TSV           2608 non-null   float64
 6   TP            2608 non-null   object
 7   air_ts        2608 non-null   object
 8   air_tp        2608 non-null   object
 9   RH_ts         2608 non-null   float64
 10  RH_tp         2608 non-null   float64
 11  comfort       2608 non-null   object
 12  prod          2608 non-null   object
 13  TA            2608 non-null   object
 14  clo           2608 non-null   float64
 15  Uphols        2608 non-null   object
 16  clo_tot       2608 non-null   float64
 17  met           2608 non-null   float64
 18  sh_sw         2608 non-null   object
 19  Ti            2608 non-null   float64
 20  Tg            2608 non-null   float64
 21  Va            2608 non-null   float64
 22  RH            2608 non-null   float64
 23  PMV           2608 non-null   float64
 24  PPD           2608 non-null   float64
 25  TnG_R_0.5     2608 non-null   float64
 26  Tmr           2608 non-null   float64
 27  Top           2608 non-null   float64
 28  Tout          2608 non-null   float64
 29  Trm           2608 non-null   float64
 30  TnG_R_0.25    2608 non-null   float64
 31  TnG_R_0.33    2608 non-null   float64
 32  Unnamed: 32   570 non-null    float64
dtypes: float64(23), object(10)
memory usage: 775.6+ KB

In [62]:
dataset.isnull().sum()

month            400
season           400
Location         400
sex              400
Subject Code     400
TSV              400
TP               400
air_ts           400
air_tp           400
RH_ts            400
RH_tp            400
comfort          400
prod             400
TA               400
clo              400
Uphols           400
clo_tot          400
met              400
sh_sw            400
Ti               400
Tg               400
Va               400
RH               400
PMV              400
PPD              400
TnG_R_0.5        400
Tmr              400
Top              400
Tout             400
Trm              400
TnG_R_0.25       400
TnG_R_0.33       400
Unnamed: 32     2438
dtype: int64

In [63]:
dataset.comfort.unique()

array(['4', '2', '3', '1', '5', '6', ' ', '0', nan], dtype=object)

In [64]:
data = dataset[['Ti','RH', 'Tmr', 'Va', 'met', 'clo', 'comfort']]
data

        Ti    RH        Tmr   Va   met   clo comfort
0     24.1  49.1  25.797614  0.1  1.25  0.98       4
1     24.2  49.7  25.521541  0.1  1.00  0.86       2
2     24.1  49.7  25.797614  0.1  1.00  0.85       2
3     23.9  46.3  25.786732  0.1  1.00  0.93       2
4     24.0  46.5  25.510728  0.1  1.10  0.40       2
...    ...   ...        ...  ...   ...   ...     ...
3003   NaN   NaN        NaN  NaN   NaN   NaN     NaN
3004   NaN   NaN        NaN  NaN   NaN   NaN     NaN
3005   NaN   NaN        NaN  NaN   NaN   NaN     NaN
3006   NaN   NaN        NaN  NaN   NaN   NaN     NaN
3007   NaN   NaN        NaN  NaN   NaN   NaN     NaN

[3008 rows x 7 columns]

In [65]:
data = data.dropna()
data

        Ti    RH        Tmr   Va   met    clo comfort
0     24.1  49.1  25.797614  0.1  1.25  0.980       4
1     24.2  49.7  25.521541  0.1  1.00  0.860       2
2     24.1  49.7  25.797614  0.1  1.00  0.850       2
3     23.9  46.3  25.786732  0.1  1.00  0.930       2
4     24.0  46.5  25.510728  0.1  1.10  0.400       2
...    ...   ...        ...  ...   ...    ...     ...
2603  12.4  55.6   8.930533  0.1  1.10  0.987       3
2604  13.8  55.5  14.198998  0.1  1.10  0.830       3
2605  14.2  53.8  12.796541  0.1  1.10  1.150       3
2606  14.2  55.2  12.190274  0.1  1.10  0.920       3
2607  14.1  59.9  13.098586  0.1  1.10  1.060       3

[2608 rows x 7 columns]

In [70]:
data.comfort.unique()

array(['4', '2', '3', '1', '5', '6', '0'], dtype=object)

In [67]:
data = data.drop(data.index[data['comfort']==' '])
data

        Ti    RH        Tmr   Va   met    clo comfort
0     24.1  49.1  25.797614  0.1  1.25  0.980       4
1     24.2  49.7  25.521541  0.1  1.00  0.860       2
2     24.1  49.7  25.797614  0.1  1.00  0.850       2
3     23.9  46.3  25.786732  0.1  1.00  0.930       2
4     24.0  46.5  25.510728  0.1  1.10  0.400       2
...    ...   ...        ...  ...   ...    ...     ...
2603  12.4  55.6   8.930533  0.1  1.10  0.987       3
2604  13.8  55.5  14.198998  0.1  1.10  0.830       3
2605  14.2  53.8  12.796541  0.1  1.10  1.150       3
2606  14.2  55.2  12.190274  0.1  1.10  0.920       3
2607  14.1  59.9  13.098586  0.1  1.10  1.060       3

[2605 rows x 7 columns]

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2605 entries, 0 to 2607
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ti       2605 non-null   float64
 1   RH       2605 non-null   float64
 2   Tmr      2605 non-null   float64
 3   Va       2605 non-null   float64
 4   met      2605 non-null   float64
 5   clo      2605 non-null   float64
 6   comfort  2605 non-null   object
dtypes: float64(6), object(1)
memory usage: 162.8+ KB

In [72]:
data.groupby(['comfort']).count()

           Ti    RH   Tmr    Va   met   clo
comfort
0           1     1     1     1     1     1
1         187   187   187   187   187   187
2         971   971   971   971   971   971
3        1010  1010  1010  1010  1010  1010
4         373   373   373   373   373   373
5          56    56    56    56    56    56
6           7     7     7     7     7     7